### Build dataset for 1 year predictions

In [1]:
import numpy as np
import pandas as pd
import os
import missingno as msno

In [5]:
os.getcwd()
os.chdir("C:\\Users\\Jacco Bruin .LAPTOP-ACFSBHIL\\THESIS")

In [7]:
df1 = pd.read_csv("dataset_edition(4)(test_version)(nomissingvalues).csv")

In [8]:
df1 = df1.iloc[: , 1:]  # run this to delete the first irrelevant index columns

In [9]:
df1

,Ticker_x,year,EBITDA,Total Debt,Free Cash Flow,Gross Profit Margin,Operating Margin,Net Profit Margin,Return on Equity,Return on Assets,...,Inflation: percent change in the Consumer Price Index,Unemployment rate,Net portfolio equity inflows,Economic growth forecast,Inflation forecast,Unemployment rate forecast,Political stability index (-2.5 weak; 2.5 strong),Interest rates on bank credit to the private sector,Open,profit/loss
0,AAL,2010,1.275000e+09,1.113600e+10,-3.780000e+08,0.23031,0.01389,-0.02124,0.11939,-0.01877,...,1.6,9.63,178952.99,2.71,1.69,9.61,0.44,3.25,9.29,0.0000
1,AAL,2011,4.900000e+07,8.220000e+09,-1.067000e+09,0.18237,-0.04325,-0.08253,0.27830,-0.08298,...,3.2,8.95,123357.00,1.55,3.09,8.93,0.59,3.25,5.44,-0.4144
2,AAL,2012,1.163000e+09,8.535000e+09,-1.039000e+09,0.20563,0.00595,-0.07548,0.23488,-0.07980,...,2.1,8.07,239066.01,2.28,1.82,8.08,0.63,3.25,10.35,0.1141
3,AAL,2013,2.419000e+09,1.679900e+10,-1.297000e+09,0.25943,0.05231,-0.06858,0.67155,-0.04338,...,1.5,7.38,-62642.00,1.84,1.32,7.36,0.64,3.25,18.98,1.0431
4,AAL,2014,5.762000e+09,1.772000e+10,-5.650000e+08,0.28150,0.09962,0.06757,1.42603,0.06667,...,1.6,6.17,154312.00,2.29,0.52,6.16,0.58,3.25,34.72,2.7374
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,ZEUS,2016,6.164000e+07,1.664240e+08,3.010700e+07,0.14743,0.04003,-0.00102,-0.00425,-0.00194,...,1.3,4.87,-139700.99,1.67,2.18,4.88,0.40,3.51,22.20,-0.0484
4517,ZEUS,2017,8.436200e+07,1.971650e+08,2.680700e+07,0.14132,0.04943,0.01425,0.06957,0.03139,...,2.1,4.36,149634.01,2.26,2.17,4.35,0.29,4.10,21.99,-0.0574
4518,ZEUS,2018,7.508700e+07,3.025300e+08,-4.061800e+07,0.14260,0.03326,0.01968,0.10997,0.04438,...,2.4,3.90,156916.01,2.92,1.91,3.89,0.42,4.90,20.96,-0.1016
4519,ZEUS,2019,3.615800e+07,1.929250e+08,1.306630e+08,0.12633,0.01052,0.00244,0.01251,0.00594,...,1.8,3.67,-244072.01,2.29,2.06,3.68,0.13,5.28,14.49,-0.3789
4520,ZEUS,2020,2.058100e+07,1.606090e+08,5.339400e+07,0.13933,0.00046,-0.00453,-0.01859,-0.00873,...,1.2,8.31,725723.97,-3.41,1.55,8.11,-0.02,3.54,11.01,-0.5281

In [12]:
# select the years 2010 till 2019 (more not possible because 2019 + 1 = 2020)


df1_uni = np.unique(df1["Ticker_x"])

data = pd.DataFrame()

for i in df1_uni:
    x = df1[df1["Ticker_x"] == i]
    
    for j in x["year"]:
        y = x[x["year"] == j]
        if j <= 2019:
            data = pd.concat([data, y])
    
data = data.reset_index()

In [22]:
#select target values 2011 till 2020

df1_uni = np.unique(df1["Ticker_x"])

data2 = pd.DataFrame()

for i in df1_uni:
    x = df1[df1["Ticker_x"] == i]
    for j in x["year"]:
        y = x[x["year"] == j]
        if j >= 2011:
            data2 = pd.concat([data2, y])
    
data2.head()

,Ticker_x,year,EBITDA,Total Debt,Free Cash Flow,Gross Profit Margin,Operating Margin,Net Profit Margin,Return on Equity,Return on Assets,...,Inflation: percent change in the Consumer Price Index,Unemployment rate,Net portfolio equity inflows,Economic growth forecast,Inflation forecast,Unemployment rate forecast,Political stability index (-2.5 weak; 2.5 strong),Interest rates on bank credit to the private sector,Open,profit/loss
1,AAL,2011,4.900000e+07,8.220000e+09,-1.067000e+09,0.18237,-0.04325,-0.08253,0.27830,-0.08298,...,3.2,8.95,123357.00,1.55,3.09,8.93,0.59,3.25,5.44,-0.4144
2,AAL,2012,1.163000e+09,8.535000e+09,-1.039000e+09,0.20563,0.00595,-0.07548,0.23488,-0.07980,...,2.1,8.07,239066.01,2.28,1.82,8.08,0.63,3.25,10.35,0.1141
3,AAL,2013,2.419000e+09,1.679900e+10,-1.297000e+09,0.25943,0.05231,-0.06858,0.67155,-0.04338,...,1.5,7.38,-62642.00,1.84,1.32,7.36,0.64,3.25,18.98,1.0431
4,AAL,2014,5.762000e+09,1.772000e+10,-5.650000e+08,0.28150,0.09962,0.06757,1.42603,0.06667,...,1.6,6.17,154312.00,2.29,0.52,6.16,0.58,3.25,34.72,2.7374
5,AAL,2015,7.813000e+09,2.056100e+10,-1.431000e+09,0.35099,0.15135,0.18566,1.35049,0.15718,...,0.1,5.28,-187306.00,2.71,0.70,5.28,0.68,3.26,38.50,3.1442

In [23]:
#sort the dataset on alphabet and year

data2 = data2.sort_values(by=['Ticker_x', "year"])
data = data.sort_values(by=['Ticker_x',"year"])

In [27]:
#select only the open column, which will be the closing price in our new dataset

closed = data2["Open"]
closed = closed.reset_index()
closed = closed.iloc[0:,1:2]

       Open
0      5.44
1     10.35
2     18.98
3     34.72
4     38.50
...     ...
4105  22.20
4106  21.99
4107  20.96
4108  14.49
4109  11.01

[4110 rows x 1 columns]

In [29]:
data["close"] = closed   # add the close price to the dataset

In [30]:
data["1_year"] = round((data["close"] - data["Open"]) / data["Open"],4)  # calculate difference between open and close price

In [31]:
data = data.drop(columns = "profit/loss")    # drop the profit/loss since we have made a new profit/loss

In [32]:
data = round(data,4)

In [34]:
data.to_csv("1_year_dataset(1).csv")

### We now have the 1 years dataset. In the file "recode_outliers", we will take care of the outliers